/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
  font-family: 'Averta';
}

* {
	margin: 0;
	padding: 0;
}

/* img {
	width: 100%;
} */

button:not(disabled) {
	cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main: #f6f6f6;
	--color-second: #024ddf;
	--color-third: #121212;

	--color-text:var(--color-third);
	--color-text-second: #ffffff;
	--color-text-third: #b3b3b3;
	--color-text-fourth:var(--color-second);

	--color-background:var(--color-main);
	--color-header-background:var(--color-second);
	--color-footer-background:var(--color-third);

	--color-menu-background:var(--color-second);
	--color-menu-item-text:var(--color-text-second);
	--color-menu-item-background:var(--color-second);

	--default-gap: 1.5rem;

	--link-visited-color: #00008b;
	--link-hover-color: #0000ff;
	--link-active-color: #b33b72;    
	/* --link-background-color:var(--color-main);*/

	/*--color-search-background:#7ba428;
	--color-search-button-background:var(--color-main);*/

	/*--color-h1:var(--color-main);
	--color-h2:var(--color-third);*/
}


/*********************/
/* CODE VOOR @FONT-FACE */
/*********************/
@font-face {
	font-family: 'Averta';
	src: url(../fonts/Averta-Light.otf);
	font-weight: 200;
}

@font-face {
	font-family: 'Averta';
	src: url(../fonts/Averta-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Averta';
	src: url(../fonts/Averta-Semibold.otf);
	font-weight: 700;
}

@font-face {
	font-family: 'Averta';
	src: url(../fonts/Averta-Bold.otf);
	font-weight: bold;
}



/****************/
/* JOUW STYLING */
/****************/
/* jouw code */
body {
	display: grid; 
	/* grid-template-columns: 2fr 1fr; */
	/* De grid-template hierboven niet nodg aangezien je niet voor desktop ontwerp.*/
	grid-template-columns: 2fr;
	margin: 0;
}

body > header,
body > footer {
	grid-column: span 2;
}


/****************/
/* HEADER*/
/****************/
header {
	background-color:var(--color-header-background);
	padding-left: 1em;
	padding-right: 1em;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5em;
}
/* header a {
	width: auto;
} */

header > a h1 img{
	color:var(--color-header-background);

	width: 70%;
	/* justify-self: center; */

}

header > button:first-of-type {
	background-color: var(--color-second);
}

header form {
	/* padding: .75em; */
	/* padding: 2em; */
	background-color: var(--color-second);
	justify-content: center;

	display:flex;
}
header form input {
	width: 0;
	flex-grow: 1;

	min-width:12em;
	max-width:38em;
	line-height:2em;
	padding:0 .5em;
}
input, button {
	/* om de standaard style op bijv. iOS te voorkomen */
	-webkit-appearance:none;
	appearance:none;
	border:none;
	font:inherit;
} 
header form button {
	line-height:2em;
	padding:0 .5em;
	background-color:var(--color-second);
	/* color:white; */
	cursor:pointer;
}

header > button:last-of-type {
	background-color: var(--color-second);
	color: var(--color-text-second);

	display: grid;
	grid-template-columns:min-content min-content;
	grid-gap:0.5em;
	align-items:center;

	font-weight:400; 
}


header nav {
	display: flex;
}
header nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;

	display: flex;
	justify-content: space-evenly;
	gap: 1em;

	background-color:var(--color-second);
	font-weight: 400;
}
header nav a {
	background-color: var(--color-menu-item-background);
	text-decoration: none;
	outline: none;
	color: var(--color-menu-item-text);
	
	display: block;
	line-height: 4em;
	text-align: center;
}
header nav a{
	background-color: var(--color-menu-item-background);
	text-decoration: none;
	outline: none;
	color: var(--color-menu-item-text);

	display: block;
	line-height: 6em;
	text-align: center;
}
header nav a:active {
	font-weight: 400;
	/* de cursor geen handje wordt als je over de active link hovert */ 
	cursor: default;
}
header nav a:hover:not(.active) {
	/* als je over een link in het menu hovert (maar niet de actieve link)  */
	background-color:var(--link-visited-color);
	color:var(--color-menu-item-background);
}

header nav a:focus {
	/* links in het menu wordt onderstreept als je er met het toetsenbord naar tabt */
	text-decoration:underline;
}


header > button {
	display: none;
}

/* Navigatie bij mobile device */
header > section{
	background-color: var(--color-menu-background);
	
	padding:1em;
	
	display:none;
	align-content:start;
	gap:1em;
	
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	translate:-100% 0%;
	transition:translate .3s;

	display: grid;

}


/* Als de navigatie open is */
.toonNav {
	display:block;
	position: absolute;
	translate:0% 0%;
	transition: 250ms;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	translate: 0% 0%;
}

.toonNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1em;

	background-color:var(--color-second);
	font-weight: 400;
	text-decoration: none;
	color:var(--color-text-second);
}

a:visited {
	text-decoration: none;
	color: var(--color-text-second);
}



.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}







/*********************/
/* MAIN*/
/*********************/
main{
	background-color: var(--color-main);
	display: grid;
}

.featured-artist{
	display: flex;
	flex-direction: column;
	background-image: url(../images/tom-odell.jpg);
	background-size: cover;
	height: 35vh;
	width: 100vw;
}

.featured-artist h3 {
	display: block;

	padding-top: 8rem;
	padding-left: 2rem;

	text-align: start;
	font-size: 2rem;
	/* font-weight: 700; */
	color: var(--color-text-second);
	text-decoration: none;
}

.featured-artist a {
	display: block;
	text-decoration: none;

	margin: 2rem;
	padding: 1em 0.5em 1em 0.5em;
	width: 7em;

	border-radius: 0.2em;
	text-align:center;

	background-color:var(--color-second);
	color:var(--color-text-second);
}

.featured-artist a:hover {
	background-color: var(--color-second);
	border-radius:2em;
}





/*********************/
/* MAIN-HIGHLIGHTS*/
/*********************/
.highlights-events {
	display: grid;

	/* position: relative; */
}

.highlights-events ul {
	margin:0;
	padding: 1em 1.5em;
	list-style:none;
	
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
	gap:var(--default-gap);
}
.highlights-events li {
	display: flex;
	flex-direction:column-reverse;
	/* Wat betekent colum-reverse? */
  	justify-content:flex-end;
	/* padding:1.5em 1.5em 0; */
}

.highlights-events h3{ 
	display: block;
	/* margin-block-start: 1em;
	margin-block-end: 1em; */
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--color-text);
	text-decoration: none;

	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 0; */
}
.highlights-events h3:hover {
	color:var(--link-hover-color);
	text-decoration: underline;
}
.highlights-events h3:active {
	color:var(--link-active-color);
}

.highlights-events p {
	display: block;
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 0.90rem;
	font-weight: 400;
	color: var(--color-text-third);
}

.highlights-events a {
	text-decoration: none;
}

.highlights-events img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: 1%;
}



/*********************/
/* MAIN-RECENT-BEKEKEN*/
/*********************/
.recent-events {
	display: grid;
}
.recent-events ul {
	margin:0;
	padding:0 1.5em 1.5em;
	list-style:none;
	
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
	gap:var(--default-gap);
}
.recent-events h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;

	display: flex;
	place-content: center;
	
	font-weight:700;
	color:var(--color-text);
}
.recent-events a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	color: var(--color-text);
}
/* .recent-events a:visited {
	color:var(--link-visited-color);
} */
.recent-events a:hover {
	color:var(--link-hover-color);
	text-decoration: none;
}
.recent-events a:active {
	color:var(--link-active-color);
	text-decoration: none;
}
.recent-events a:link, a:visited {
	/* background-color:var(--link-background-color); */
	/* border: #b33b72; */
	padding: 10px 20px;
  	text-align: center;
	text-decoration: none;
	display: inline-block;
}
  
/* .recent-events a:hover, a:active {
	background-color: red;
} */



/*********************/
/* MAIN-POPULAIR-EVENTS*/
/*********************/
.populair-events {
	display: grid;
}
.populair-events ul {
	margin:0;
	padding:0 1.5em 1.5em;
	list-style:none;
	
	display: flex;
	gap:var(--default-gap);

	/* carrousel*/
	overflow-x: auto;
	/* om een kind te laten snappen */
	scroll-snap-type: x mandatory;
	/* om te voorkomen dat bij het einde van de ul de body gaat scrollen */
  	/* daarmee zou de 'back' of 'forward' functie geactiveerd worden */
  	/* en nu dus niet */
	overscroll-behavior: contain auto;
}
.populair-events ul li {
	flex-basis:18em;
	flex-shrink:0;
	align-items:center;
	gap: 0.25em;

	/* een kind geeft aan waar 't snapt */
	scroll-snap-align: center;

	/* de elementen in de li flexen weer verticaal */
	/* maar nu in omgekeerde volgorde */
	display:flex;
	flex-direction:column-reverse;
	justify-content:flex-end;
}

.populair-events h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;

	display: flex;
	place-content: center;
	
	font-weight:700;
	color:var(--color-text);
}
.populair-events h3{ 
	display: block;
	/* margin-block-start: 1em;
	margin-block-end: 1em; */
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--color-text);
	text-decoration: none;

	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 0; */
}
.populair-events h3:hover {
	color:var(--link-hover-color);
	text-decoration: underline;
}
.populair-events h3:active {
	color:var(--link-active-color);
}

.populair-events p {
	display: block;
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 0.90rem;
	font-weight: 400;
	color: var(--color-text-third);
}

.populair-events a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	color: var(--color-text);
}

.populair-events img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: 1%;
}



/*********************/
/* MAIN-AANBEVOLEN-EVENTS*/
/*********************/
.aanbevolen-events {
	display: grid;
}

.aanbevolen-events ul {
	margin:0;
	padding:0 1.5em 1.5em;
	list-style:none;

	/* display: grid;
	grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
	gap:var(--default-gap); */
	
	display: flex;
	gap:var(--default-gap);
	/*Bij desktop wil ik grid, maar bij mobile device heb ik flexbox nodig??  */

	/* Carrousel*/
	overflow-x: auto;
	/* om een kind te laten snappen */
	scroll-snap-type: x mandatory;
	/* om te voorkomen dat bij het einde van de ul de body gaat scrollen */
  	/* daarmee zou de 'back' of 'forward' functie geactiveerd worden */
  	/* en nu dus niet */
	overscroll-behavior: contain auto;
}
.aanbevolen-events li {
	flex-basis: 28em;
	flex-shrink:0;
	align-items:center;
	gap: 0.25em;

	/* een kind geeft aan waar 't snapt */
	scroll-snap-align: center;

	/* de elementen in de li flexen weer verticaal */
	/* maar nu in omgekeerde volgorde */

	display: flex;
	flex-direction:column-reverse;
	/* Wat betekent colum-reverse? */
  	justify-content:flex-end;
}

.aanbevolen-events h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;

	display: flex;
	place-content: center;
	
	font-weight:700;
	color:var(--color-text);
}
.aanbevolen-events h3{ 
	display: block;
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--color-text);
	text-decoration: none;
}
.aanbevolen-events h3:hover {
	color:var(--link-hover-color);
	text-decoration: underline;
}
.aanbevolen-events h3:active {
	color:var(--link-active-color);
}

.aanbevolen-events p {
	display: block;
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 0.90rem;
	font-weight: 400;
	color: var(--color-text-third);
}

.aanbevolen-events a {
	text-decoration: none;
}

.aanbevolen-events img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: 1%;
}



/*********************/
/* MAIN-UITGELICHT-EVENTS*/
/*********************/
.uitgelicht-events {
	display: grid;
}

.uitgelicht-events ul {
	margin:0;
	padding:0 1.5em 1.5em;
	list-style:none;

	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
	gap:var(--default-gap);
}
.uitgelicht-events li {
	display: flex;
	flex-direction:column-reverse;
	/* Wat betekent colum-reverse? */
  	justify-content:flex-end;
}

.uitgelicht-events h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;

	display: flex;
	place-content: center;
	
	font-weight:700;
	color:var(--color-text);
}
.uitgelicht-events h3{ 
	display: block;
	min-height: 1rem;
	margin:.50rem;

	text-align: start;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--color-text);
	text-decoration: none;
}
.uitgelicht-events h3:hover {
	color:var(--link-hover-color);
	text-decoration: underline;
}
.uitgelicht-events h3:active {
	color:var(--link-active-color);
}

.uitgelicht-events a {
	text-decoration: none;
}

.uitgelicht-events img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: 1%;
}



/*********************/
/* FOOTER*/
/*********************/
footer{
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
	gap:var(--default-gap); */

	margin: 0;
	padding-left: 1.5em;

	background-color: var(--color-footer-background);
	color:var(--color-text-second);
}


.social-media {
	display: grid;
}

.social-media ul {
	margin: 0;
	padding: 0 1.5em 1em 0.5em;
	list-style:none;

	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
	gap: 0.5em;
}
.social-media li {
	display:flex;
	flex-direction:column;
}

.social-media a {
	text-decoration: none;
}

.social-media img {
	display: block;
	/* width:100%;
	height: auto; */

	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 2.5rem;
	height: auto;
	gap: 1em;
}


.onze-apps {
	display: grid;
}

.onze-apps ul {
	margin:0;
	padding: 0 1.5em 1em 0.5em;
	list-style:none;

	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
	gap: 0.5em;
}
.onze-apps li {
	display: flex;
	flex-direction:column;
}

.onze-apps a {
	text-decoration: none;
}

.onze-apps img {
	display: block;

	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 9rem;
	height: auto;
	gap: 1em;
}


.helpen-graag {
	display: grid;
}

.helpen-graag ul {
	display: block;
	/* Block gekozen, zodat het onder elkaar blijft staan. Met flex komt het naast elkaar */
	list-style: none;

	margin:0;
	/* padding: 2em 1em; */
	padding:0 1.2em 1em;

	/* display: flex;
	flex-wrap: wrap; */
	/* justify-content: flex-start;
	gap: 1em; */
}
.helpen-graag li {
	display: flex;
	flex-wrap: wrap;

	height: 2em;
}

.helpen-graag a {
	text-decoration: none;
}
.helpen-graag a:hover {
	color:var(--color-text-second);
	text-decoration: underline;
}
.helpen-graag a:active {
	color:var(--link-active-color);
}


.ook-hebben-wij {
	display: grid;
}

.ook-hebben-wij ul {
	display: block;
	list-style: none;

	margin: 0;
	/* padding: 0 1.5em 1em 0.5em; */
	padding:0 1.2em 1em;
}
.ook-hebben-wij li {
	display: flex;
	flex-wrap: wrap;
	
	height: 2em;
}

.ook-hebben-wij a {
	text-decoration: none;
}
.ook-hebben-wij a:hover {
	color:var(--color-text-second);
	text-decoration: underline;
}
.ook-hebben-wij a:active {
	color:var(--link-active-color);
}


.over-ons {
	display: grid;
}

.over-ons ul {
	display: block;
	list-style: none;

	margin: 0;
	padding:0 1.2em 1em;
}
.over-ons li {
	display: flex;
	flex-wrap: wrap;

	height: 2em;
}

.over-ons a {
	text-decoration: none;
}
.over-ons a:hover {
	color:var(--color-text-second);
	text-decoration: underline;
}
.over-ons a:active {
	color:var(--link-active-color);
}

/* Waarom gaan de img's van "Ons Netwerk" niet hetzelfde staan als  'Onze Apps" (heeft dezelfde code) */
.ons-netwerk {
	display: grid;
}

.ons-netwerk ul {
	margin:0;
	padding: 0 1.5em 1em 0.5em;
	list-style:none;

	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
	gap: 0.5em;
}
.ons-netwerk li {
	display: flex;
	flex-direction:column;
}

.ons-netwerk a {
	text-decoration: none;
}

.ons-netwerk img {
	display: block;

	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 9rem;
	height: auto;
	gap: 1em;
}


footer img {
	display: block;
	width: 12rem;
	padding: 4em 1em 3em 1em;
}

footer h3 {
	margin: 0;
	padding: 1em;

	display: block;

	text-align: start;
	font-weight: 400;
	/* font-size: 4em; */
	color: var(--color-text-second);
}
footer p {
	margin: 0;
	padding: 1em;

	display: block;
	

	text-align: start;
	font-weight: 400;
	color: var(--color-text-second)
}

footer a {
	margin: 0;
	padding: 0;

	display: block;

	text-align: start;
	font-weight: 400;
	color: var(--color-text-second)
}






/*********************/
/* MEDIA QUERY */
/*********************/
@media screen and (max-width:450px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap:0;
	}

	header nav {
		display: none;
	}

	header form {
		grid-column: 1/4;
		grid-row: 2;
	}

	header form input {
		width: 80%;
	}

	header button span{
		display: none;
	}
}


@media screen and (max-width:1100px) {
	header nav ul li:nth-of-type(6) {
		display: none;
	}
}
@media screen and (max-width:1000px) {
	header nav ul li:nth-of-type(5) {
		display: none;
	}
}
@media screen and (max-width:900px) {
	header nav ul li:nth-of-type(4) {
		display: none;
	}
}
@media screen and (max-width:800px) {
	header nav ul li:nth-of-type(3) {
		display: none;
	}
}
@media screen and (max-width:700px) {
	header nav ul li:nth-of-type(2) {
		display: none;
	}
}
@media screen and (max-width:600px) {
	header nav ul li:nth-of-type(1) {
		display: none;
	}

	header > button {
		display: block;
	}
}



/* @media screen and (min-width:720px){
	header button span{
		display: inline;
	}

	header nav{
		display: block;
	}

	header button:nth-of-type(2) {
		order: 1;
	}

} */
/* Vanaf 720px breed doet css alles wat je op desktop wilt zien. */



/*********************/
/* OUDE CODE HEADER 2.0*/
/*********************
/* header{
	background-color: var(--color-header-background);

	display:flex;
	flex-wrap: wrap;
  	justify-content:space-between;
 	align-items:center;

	min-height:4em;
    padding:0 1em;

	position: relative;
	top: 0;
} */

/* Links in de header */
/* header a {
	padding:.5em 0;
	color:var(--color-header-background);
	text-decoration:none;

	order:-1;
} */

/* header button:first-of-type {
	background-color: var(--color-second);
	color: var(--color-text-second); */

	/* om hamburger icon te positioneren */
	/* display: grid;
	grid-template-columns:min-content min-content;
	grid-gap:.25em; */
	/* display: block;
	align-items:center; 
} */
/* header button:nth-of-type(2) {
	background-color: var(--color-second);
	color: var(--color-text-second);

	display: block;
	align-items:center; 

	order:-1;
} */
/* Is de tweede button relevant om te stylen? */
/* header > button:last-of-type {
	background-color: var(--color-second);
	color: var(--color-text-second); */

	/* icon en tekst met gap-je naast elkaar */
	/* display: grid;
	grid-template-columns:min-content min-content;
	grid-gap:0.5em;

	align-items:center;

    font-weight: 400; */
	/* display:flex; */
	/* column-gap:.25em; */
/* } */
/* Hoe kan ik de laatste button helemaal recht krijgen? */

/* Voor media query om items te laten verdwijnen bij bepaalde schermgrootte */
/* header button span{
	display: none;
} */


/*********************/
/* LOGO/NAAM */
/*********************/
/* header > a h1 { */
	/* display: grid; */
	/* display: block;
	width: 10em;
	height: 2em;
	padding: 0.5em 2em 0.5em 2em;
	
	line-height:1em;
	color:var(--color-second);
} */



/*********************/
/* ZOEK FORMULIER*/
/*********************/
/* header form { */
	/* padding: .75em; */
	/* padding: 2em;
	background-color: var(--color-second);

	flex-grow: 5;
	display:flex;
	justify-content:flex-end;
} */
/* header form input {
	width: 0;
	flex-grow: 1;

	min-width:12em;
	max-width:38em;
	line-height:2em;
	padding:0 .5em;
} */
/* input, button { */
	/* om de standaard style op bijv. iOS te voorkomen */
	/* -webkit-appearance:none;
	appearance:none;
	border:none;
	font:inherit;
} */
/* header form button {
	line-height:2em;
	padding:0 .5em;
	background-color:var(--color-second); */
	/* color:white; */
	/* cursor:pointer;
} */



/*********************/
/* NAVIGATIE*/
/*********************/

/* header nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;

	display: flex;
	justify-content: space-evenly;
	gap: 1em; */

	/* gap: 0.5em; */
	/* background-color:var(--color-second);
	font-weight: 500; */
/* } */
/* flex-grow: 3;
	min-width: 4em; */

	/* flex-grow: 3;
	min-width: 4em; */
	/* Wat betekent flex-grow en mid-width? */
/* } */

/* header li button {
	background-color: var(--color-second);
	color: var(--color-text-second); */

	/* line-height:2em;
	padding:0 .5em;
	cursor: pointer; */
/* } */
/*********************/
/* NAV BUTTON */
/*********************/
/* header > button:first-of-type {
	order:-2;
} */

/***************/
/* SLUIT BUTTON */
/***************/
/* nav button:first-of-type {
	justify-self:start;
} */


/* Alle links in de navigatie */
/* header nav a{
	background-color: var(--color-menu-item-background);
	text-decoration: none;
	outline: none;
	color: var(--color-menu-item-text);

	display: block;
	line-height: 6em;
	text-align: center;
} */
/* header nav a:active {
	font-weight: 400; */
	/* de cursor geen handje wordt als je over de active link hovert */
	/* cursor: default;
} */
/* header nav a:hover:not(.active) { */
	/* als je over een link in het menu hovert (maar niet de actieve link)  */
	/* background-color:var(--color-menu-item-text);
	color:var(--color-menu-item-background);
} */
/* Waarom kleurt de hover niet? */

/* header nav a:focus { */
	/* links in het menu wordt onderstreept als je er met het toetsenbord naar tabt */
	/* text-decoration:underline;
} */





/*********************/
/* OUDE CODE HEADER*/
/*********************/
/* Header wel of niet een grid? Heb nu flex*/
/*display: grid;
grid-template-columns: 1fr max-content;*/
/* gap:var(--tmplt-size-whitespace); */
/*Hoezo is grid niet nodig voor de header?*/

/* Om een svg afbeelding van kleur te veranderen */
/* header button svg {
	padding:.5em;
  
	icon en tekst met gap-je naast elkaar
	display:flex;
	align-items:center;
	gap:.25em;
	
	standaard styling aanpassen
	appearance:none;
	background-color:var(--color-second);
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
	color:var(--button-color);
} */

/* Logo/naam te laten "bewegen" */
/* header > a:hover{ */
	/* padding: 0.5em 0.5em 0.5em 0.5em; */
	/* padding: 1.5em 1.5em 1.5em 1.5em; */
	/* padding:.75em 2.75em .75em 0; */
	/* text-align:right; */
	/* background-position:calc(100% - .75em) center; */
/* } */
/* header > a:focus {
	text-decoration:underline;
} */

/* header button {
	background-color: var(--color-second);
	color: var(--color-text-second); */

	/* min-height:3em;
  	padding:0 1em;
  	border:none; */
  
  	/* om het standaard randje bij focus niet te tonen */
  	/* outline:none; */
  	/* nodig voor telefoons */
  	/* appearance:none; */
/* } */


/*********************/
/* OUDE CODE NAVIGATIE*/
/*********************/
/* navigatie links, button apart */
/* header ul li:nth-of-type(1){
	display: flex;
	justify-content: start;
} */
/* header ul li:nth-of-type(6){
	display: flex;

} */
/* header ul li:nth-of-type(7){
	display: flex;
	justify-content: flex-end;
} */
/* header ul li:nth-of-type(7){
	margin-left: auto;
} */
/* header ul li:last-of-type{ */
	/* margin-left: auto; */
	/* display: flex;
	justify-content: end;
} */



/*********************/
/* OUDE CODE MAIN*/
/*********************/
  /* main h2 img {
	display: flex;
	justify-content: flex-end;

	width: 100%;
} */
/* tom odell foto flexen, hoe?? */

/* main h2 {
	display: flex;
	align-items: center;
	display: grid;
	place-content: center;
	

	font-weight:700;
	color: var(--color-third);
} */
/* main h3 {
	display: grid;
	
	text-align: start;
	text-decoration: none;
	line-height: 0.5em;
} */
/* niks veranderd?? */

/* main ul{ */
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;

	margin: 1.5em;
	padding: 1.5em;
	list-style: none; */

	/* display:grid;
  	grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
 	gap:2em; */
  
 	/* margin:0;
 	padding:0 2em 2em;
  	list-style: none; */
/* } */
/*Hoe zorg ik dat alleen de eerste ul dit grid heeft?*/

/* main li{
	display:flex;
	flex-direction:column-reverse;
	wat betekent colum-reverse?
	justify-content:flex-end;
	padding:1.5em 1.5em 0;
}
main li:nth-of-type(1){
	width: 100%;
} */

/* main img {
	display:block;
	width:100%;
	height:auto;
} */
